.main-div{
  background-color: black;
}
.banner-div {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 120vh;
  background: rgba(0, 0, 0, .4);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8));
}

button.lang {
  border: 2px solid white;
  color: white;
  border-radius: 0px !important;
}
button.lang{
  border: none;
  outline: none;
  color: white;
  font-size: 1.2rem;
  border: 1px solid white;
}
button.lang:hover{
  border: none;
  outline: none;
  color: white;
  font-size: 1.2rem;
  border: 1px solid white;
}

button.login {
  color: white;
  background-color: rgb(229, 9, 20);
  padding: 6px 20px;
  font-size: 1.2rem;
}
button.login:hover {
  color: white;
  background-color: rgb(229, 9, 20);
  padding: 6px 20px;
  font-size: 1.2rem;
}
.banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.text-div {
  width: 60%;
}

h1,
h2,
h3 {
  color: white;
  text-align: center;
}

h1.title {
  font-size: 3.2rem;
  font-weight: 600;
}

h3.email-text {
  font-size: 1.4rem;
}

.line-height {
  line-height: 50px;
}

.form-div {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

input[type="email"] {
  padding: 35px 10px;
  border-radius: 0px !important;
  height: 50px;
  border: none;
  outline: none;
}

input[type="email"]:focus {
  padding: 35px 10px;
  border-radius: 0px !important;
  height: 50px;
  border: none;
  outline: none;
}

button.started {
  background-color: rgb(246, 6, 18);
  color: white;
  font-size: 1.8em;
  padding: 13px 20px;
  border-radius: 0px !important;
  width: 100%;
  border: none;
  outline: none;
}

button.started:hover {
  background-color: rgb(246, 6, 18);
  color: white;
  font-size: 1.8em;
  padding: 13px 20px;
  border-radius: 0px !important;
  width: 100%;
  border: none;
  outline: none;
}
div.horizontal-line{
  border-top: 10px solid rgb(34, 34, 34);
}
.enjoy-on-tv{
  background-color: black;
}
.faq-div p{
  color: white;
  font-size: 3.2rem;
  font-weight: 600;
}
.accordion-item{
  background-color: rgb(48, 48, 48);
  color: white;
}
.accordion-button{
  background-color: rgb(48, 48, 48);
  color: white;
  border: none;
  outline: none;
  font-size: 1.8rem;
}
.ml-style{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.accordion-body{
  font-size: 1.6rem;
}
.contact-us{
  color: rgb(115, 115, 115);
  font-size: 1.05rem;
}
ul{
  list-style: none;
}
ul li{
  padding: 8px;
}
ul li a{
  cursor: pointer;
  text-decoration: none;
}
ul li a:hover{
  text-decoration: underline;
}
.email-input{
  width: 60%;
}
.email-input1{
  width: 62%;
  margin-left: 20%;
  margin-right: 20%;
}
