<div class="banner-div"
  style="background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/afc06103-4d6a-4236-b496-34b671a7e9ba/383fc36a-aa04-4dfd-95a0-a4b71bc21eed/IN-en-20221003-popsignuptwoweeks-perspective_alpha_website_large.jpg');">
  <div class="logo-div container-fluid">
    <div class="row">
      <div class="col-md-12 p-4">
        <img width="160" src="https://i.ibb.co/r5krrdz/logo.png" class="img-fluid ms-4" alt="Netflix_logo">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="card" style="width: 30rem;">
          <div class="card-body p-5">
            <div class="row">
              <div class="col-md-12">
                <p>Sign In</p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Email or phone number</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label class="pd-label" for="floatingInput">Password</label>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-12">
                <button type="button" style="width: 100%;" class="btn btn-lg btn-block">Sign In</button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label pd-label" for="exampleCheck1">Remember me</label>
                </div>
              </div>
              <div class="col-md-6 text-end">
                <a class="help">Need Help?</a>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-md-12">
                <span class="ms-1">New to Netflix? <a>Sign up Now</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
